grad.project
grad.workspace
.codelite
*~
*.o
*.pdf
*.swp
*.pyc
*.dSYM
.DS_Store
*/.DS_Store

# latex output
Final\ Report/*.out

#For hiding the gh-pages git branch of doxygen output.
Docs/html

#COUGAR output files
cougar.out*

#Test program binaries
test/*_test
test/simple_test_output.tsv

#Example program binaries
exampleClassUsage/*_example
exampleClassUsage/boostEllipticIntegralExample/ellint_ex

#Main program binaries
gs_solver
gs_solver_hdf
