Design\ Document/Design_Document.pdf
grad.project
grad.workspace
.codelite
*~
*.o
tsv_reader_example
coil_data_example
pg_data_example
*.pyc
cougar.out*
gs_solver
gs_solver_hdf
elliptic_test
.DS_Store
*/.DS_Store
Docs/html
*.dSYM
PeterTest/boost_test

test/simple_test_output.tsv
test/tsv_reader_test
